<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/detalle.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/bda3cd9edc.js" crossorigin="anonymous"></script>
    <title>Detalle del producto</title>
</head>

<body>
    <main>

        <div class="container">

            <div class="vista">
                <div class="volver">
                    <button>Volver atras</button>
                </div>

                <div class="img-vista">
                </div>

                <div class="descripcion">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Eveniet expedita aperiam quod fugit enim non, doloribus a corporis veniam ducimus deleniti,
                        doloremque animi repellendus. Non repellendus dolores asperiores vel quibusdam?</p>
                </div>



            </div>
            <div class="vista-info">
                <div class="descripciones-info">
                    <h1 class="nombre">Nombre del producto</h2>
                        <span class="precio">$1500</span>
                        <!-- <h2 class="precio">Precio: 1500</h2> -->
                        <h2 class="cuotas">Cuotas: 12</h2>
                        <div class="container-carrito">

                            <div class="agregar-deshacer-container">


                                <i class="fa-solid fa-minus"></i>
                                <span> 0 </span>
                                <i class="fa-solid fa-plus"></i>


                            </div>

                            <button class="carrito"> <i class="fa-solid fa-cart-shopping"></i> Añadir al
                                carrito</button>
                        </div>
                </div>

            </div>

        </div>


    </main>


</body>

</html>