<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/estilo.css" rel="stylesheet">

    <title>PROYECTO INTEGRADOR</title>
</head>
<body>
    <header>
        <section class="arriba">
            <input type="text" placeholder="Buscar" >
            <button>Buscar</button>
        </section>
    </header>
    <main>
        <ul>
            <button type="button" class="btn btn-secondary" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="top" data-bs-content="Top popover">
                Popover on top
              </button>
            <li><a href="./views/sign-in.html">Sign In</a></li>
        </ul>
    </main>
    <footer></footer>
</body>