<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="css/sign-in.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Roboto&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

</head>
<title>Document</title>
</head>

<body>
  <Header class="Header">
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">PerfuMall</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contáctenos</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                LogIn
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Crear Cuenta</a></li>
                <li><a class="dropdown-item" href="#">Ya tengo una cuenta</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">¿Cómo me registro?</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  Catálogo
              </a>
              <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/carrito">Carrito</a></li>
              </ul>
            </li>
          </ul>
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>

  </Header>

  <main>
      <div class="container-sign-in">
        <div class="sign-in">
          <h1>Iniciar Sesión</h1><br>
          <h2>¡Bienvenido! ¡Completá los datos!</h2>
          <input type="email" placeholder="Email" required=""><br><br>
          <input type="password" placeholder="Contraseña" required=""><br><br>
          <button class="button">ENVIAR</button><br><br><br>
          <div class="olvido-contraseña">
            <p class="contraseña">¿Se te olvido la contraseña?<br><br>
              Mandanos un mail a <a href="#">perfumall@gmail.com</a> para ayudarte a recuperarla!</p>
          </div>
        </div>


  </main>
  <footer>
    <section>
        <div class="container-footer">
          <div class="redes-sociales">
            <h3>REDES SOCIALES</h3>
            <ul type="none">
              <li><a href="perfumall@gmail.com">Mail</a></li>
              <li><a href="@PerfuMall">Instagram</a></li>
            </ul>
          </div>
          <div class="Terminos">
            <h3>TÉRMINOS Y CONDICIONES</h3>
            <label>Términos y condiciones</label><br>
            <label>Suscripciones</label><br>
            <label>Entrega de productos</label><br>
          </div>
          <div class="contactanos">
            <h3>CONTÁCTANOS</h3>
            <p class="contactar">
              (451) 11 3158-4629 <br>
              54 9 11 7596-3614<br>
              Lunes a Viernes de 9 am a 9 pm<br>
              Sabados y Domingos de 10 am a 8 </p>
          </div>
        </div>
    </section>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
    crossorigin="anonymous"></script>


</html>