<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <h1>SIGN IN></h1>
        <div class="sign-in">
            <input type="email" placeholder="Email"><br>
            <input type="password" placeholder="Password"><br>
            <button>Sign In</button>
        </div>
        <div>
            <p>¿Se te olvido la contraseña?<br>
            Mandanos un mail a ..... para ayudarte a recuperarla!</p>
        </div>
    </main>
    <footer>
        <div class="re-dirigir" >
            <ul type="none">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
        <div class="newsletter">
            <input type="email" placeholder="Ingresa tu Email">
            <button>Suscribite</button>
        </div>
    </footer>

</body>
</html>